# 2.2 - Identify common reasons for cleansing and profiling datasets.

## Duplicate Data

Duplicate data is defined as either values or columns that are repeated in our data set. 

- After confirming that said data is infact duplicated; this issue can be eaisly resolved by removing the duplicated data until only one value or column is present. 

### Duplicated Values

| ID | Name | Class | Grade |
| -- | ---- | ----- | ----- | 
| 01 | Mike | History | 95 |
| 02 | Jill | Math | 85 |
| 01 | Mike | History | 95 |

In the above table, the third entry is clearly a duplicate of the first entry. So, we can simply remove our third entry to avoid duplicate data in our data base.

| ID | Name | Class | Grade |
| -- | ---- | ----- | ----- | 
| 01 | Mike | History | 95 |
| 02 | Jill | Math | 85 |

### Duplicated Columns

| ID | Name | Class | Grade | ID |
| -- | ---- | ----- | ----- | -- |
| 01 | Mike | History | 95 | 01 |
| 02 | Jill | Math | 85 | 01 |

Here we can see that the column 'ID' is duplicated in this table, again this can simply be removed from our database to resolve this issue. Keep in mind that a duplicated column may no always have the same heading for instance - 

| ID | Name | Class | Grade | StudnetID |
| -- | ---- | ----- | ----- | -- |
| 01 | Mike | History | 95 | 01 |
| 02 | Jill | Math | 85 | 01 |

We can see that while the column name may be different, our values in the column are the same and representing the same thing, we can choose the column name that works best for our dataset and remove the other.

## Redundant Data

Redundent data is defined as reciving more data than was requested for our task. While this will require some cleaning, it is almost never a bad thing to have more data than we need. Take for example looking at the price of BTC through the day, maybe we are looking to see the value of BTC at the top of every hour and we are given the value for every min. We can simply choose wether we want to know the value at the top of the hour or the end of the hour and remove the rest of the data. 

| Time | BTC |
| ---- | --- |
| 12:00 | 100 |
| 12:01 | 101 |
| 12:02 | 103 |
| 12:03 | 100 |
| 12:04 | 100 |
| etc. |  |
| 12:59 | 101 |
| 01:00 | 100 |
| 01:01 | 101 |
| 01:02 | 103 |
| 01:03 | 100 |
| 01:04 | 100 |
| etc. |  |
| 01:59 | 101 |

Lets say the for this data set we have choosen to take the value of BTC at the top of the hour, this makes all the other entries redundent and the can be removed from our data base, giving us a clean database with the values that we need. 

| Time | BTC |
| ---- | --- |
| 12:00 | 100 |
| 01:00 | 100 |

## Missing Values, Invalid Data and Outliers

#### Missing Values

Missing values in our data can be quite the issue, and depending out the type of data that we are analyzing, solving this issue can be quite complex. 

If it is applicable to our data we can use three valuiable methods to fill our missing data.
- Mean
    - the average of the numbers: a calculated "central" value of a set of numbers
- Meadian
    - the "middle" of a sorted list of numbers
- Mode
    - the most frequent numberâ€”-that is, the number that occurs the highest number of times.

### Invalid Data

### Outliers

## Non-parametric Data

## Specifcation Mismatch

## Data Type Validation