# 2.2 - Identify common reasons for cleansing and profiling datasets.

## Duplicate Data

Duplicate data is defined as either values or columns that are repeated in our data set. 

- After confirming that said data is infact duplicated; this issue can be eaisly resolved by removing the duplicated data until only one value or column is present. 

### Duplicated Values

| ID | Name | Class | Grade |
| -- | ---- | ----- | ----- | 
| 01 | Mike | History | 95 |
| 02 | Jill | Math | 85 |
| 01 | Mike | History | 95 |

In the above table, the third entry is clearly a duplicate of the first entry. So, we can simply remove our third entry to avoid duplicate data in our data base.

| ID | Name | Class | Grade |
| -- | ---- | ----- | ----- | 
| 01 | Mike | History | 95 |
| 02 | Jill | Math | 85 |

### Duplicated Columns

| ID | Name | Class | Grade | ID |
| -- | ---- | ----- | ----- | -- |
| 01 | Mike | History | 95 | 01 |
| 02 | Jill | Math | 85 | 01 |

Here we can see that the column 'ID' is duplicated in this table, again this can simply be removed from our database to resolve this issue. Keep in mind that a duplicated column may no always have the same heading for instance - 

| ID | Name | Class | Grade | StudnetID |
| -- | ---- | ----- | ----- | -- |
| 01 | Mike | History | 95 | 01 |
| 02 | Jill | Math | 85 | 01 |

We can see that while the column name may be different, our values in the column are the same and representing the same thing, we can choose the column name that works best for our dataset and remove the other.

## Redundant Data

## Missing Values / Invalid Data

## Non-parametric Data

## Specifcation Mismatch

## Data Type Validation